.siteHeader {
    width: 650px;
    position: absolute;
}
.ladders, .month_ladder{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.member_ladder {
    flex: 0 1 auto;
    display:flex;
    flex-direction: column;
    min-width:5rem;
}

.month_header, .month_ladder {
    flex: 1 1 auto;
}

.equity_ladder, .am_ladder {
    flex: 0 1 0;
    display:flex;
    flex-direction: column;
    padding-right: 5px;
}

.ass_member, .e_member {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

.ass_member {
    border: 1px dashed #222222;
}
.warning {
    border: 1px solid red;
}
.e_member {
    border: 1px solid #222222;
}

input {
    width: 2rem;
    height: 1rem;
    font-size: 1rem;
}

.founder{background: #8CE9FF;}


.apr18{background: #FFF55C;}
.apr19{background: #FFF55C;}
.aug18{background: #9FB7FF;}
.aug19{background: #9FB7FF;}
.dec18{background: #70D3FF;}
.feb19{background: #FFAEDB;}
.jan19{background: #86FFD3;}
.jul18{background: #D2A5FF;}
.jul19{background: #D2A5FF;}
.jun18{background: #C5FFB8;}
.jun19{background: #C5FFB8;}
.mar18{background: #FFCF40;}
.mar19{background: #FFCF40;}
.may18{background: #FFA81E;}
.may19{background: #FFA81E;}
.nov18{background: #FFC79A;}
.oct18{background: #4F8AFF;}
.sep18{background: #E6A2FF;}
